@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-image: url(../src/assets/Tokyo-Hero-LP.jpg);
  margin-top: auto;
  margin-bottom: 2rem;
  height: 50vh;
  align-items: center;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  flex-direction: column;
  min-height: 8vh;
  font-size: x-large;
  font-family: 'Italianno', cursive;;
  color: #3c1361;
  text-decoration: none;
  background-color: transparent;
}

#nav-list-a {
  margin-top: 1.5rem;
  font-size: xx-large;
  font-family: 'Cinzel', serif;
  color: #3c1361;
  border-color: white;
  border-width: 5px;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Italianno', cursive;

}

.resume-container {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  opacity: 1;
}


.resume-title {
  font-size: xx-large;
  font-family: 'Italianno', cursive;
  justify-content: center;
}

.resume {
  font-family: 'Quintessential', cursive;
  font-size: larger;
}

#resume-link {
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
  font-family: 'Quintessential', cursive;
  color: rgb(168, 88, 221);

}

.about {
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 1;
}

#aboutid {
  opacity: 1;
}

#about-name {
  text-align: center;
  font-family: 'Quintessential', cursive;
  font-weight: 700;
  font-size: x-large;
}

p {
  font-family: 'Quintessential', cursive;
  font-size: larger;
}

.contact {
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
 
}

.contact-info {
  text-align: center;
}



.row {
  margin-top: 6em;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 20%;
  margin-right: 20%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 40%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#link {
  justify-self: center;
  align-self: center;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Italianno', cursive;
  font-size: x-large;
}

.footer {
  background-color: gray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

#emailcontainer {
  text-align: center;

}

#emailid {
  font-size: x-large;
  font-weight: 800;
  text-align: center;
  color: rgb(168, 88, 221);
  text-decoration: none;
  background-color: transparent;

}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.center-btn {
  text-align: center;
}

.bt{
  display:inline-block;
  position:relative;
  padding:1px 80px;
  border:2px solid rgb(168, 88, 221);
  color: rgb(168, 88, 221);
  font-size:30px;
  text-decoration:none;
  margin:5px auto;
  transition: color 0.4s;
  
}
.bt:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.bt:hover{
  color:#eee
}
.bt:hover:after{  
  border:2px solid rgb(168, 88, 221);
  width: calc(100% - 10px);
  height: calc(100% + 10px); 
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 970px){
  .about {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  }
}

@media screen and (max-width: 970px){
  .about-info {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  }
}






@media screen and (max-width: 650px){
  .about {
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  }
}

@media screen and (max-width: 650px){
  .about-info {
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  }
}
@media screen and (max-width: 650px){
  #aboutid {
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  }
}
@media screen and (max-width: 650px){
  #about-name {
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  }
}